<!DOCTYPE html>
<html>
<head>
  <title>Ediblehood</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

</head>
<body>

  <div class="edhood">
  <img class="img-responsive" src="/assets/edhood.png">
  </div>

<%= yield %>

</body>

<footer id="colophone" class="site-footer">
  &copy; 2016 Bergen &amp; Santro
</footer>

</html>
