<h1>edible hood</h1>

<h2>Wir finden, dass öffentliche Grünflächen mit essbaren Pflanzen bestückt werden sollen. Die ganze Stadt könnte irgendwann ein großer Gemeinschaftsgarten werden, in dem alle fröhlich zusammen regionales, frisches Gemüse anbauen und ernten. In diesen urbanen Gemeinschaftsgärten können sich Leute aus der Nachbarschaft kennenlernen und vernetzen, gemeinsam Zeit verbringen oder sich einfach zur Erholung aufhalten... Wenn auch du Lust darauf hast, an unserer Utopie mitzubauen, dann trage Infos zu potentiell bepflanzbaren Grünflächen in deiner Hood in unsere Karte ein und werde Teil unseres Nachbarschafts-Garten-Netzwerks  ;) </h2>


<p>Wenn du deine Info in die Karte eintragen willst, klick auf <%= link_to "New Location", locations_new_path %> </p>

<p>Wenn du die Liste der bereits vorhandenen Grünflächen sehen willst, klick auf <%= link_to "List Locations", locations_path %> </p>


Find me in app/views/first/about.html.erb
