<h1>Editing Location</h1>

<%= render 'form' %>

<div>
	<%= link_to 'Show', @location, class: "btn btn-default" %> 
</div>

<div>
	<%= link_to 'Back', locations_path, class: "btn btn-default" %>
</div>
