<h1>New Location</h1>
<%= render 'form' %>


	<div>
		<%= link_to 'Back', first_about_path, class: "btn btn-default" %>
	</div>

	<div>
		<%= link_to 'Locations', locations_path, class: "btn btn-default" %>
	</div>
