<!DOCTYPE html>
<html>
<head>
  <title>Ediblehood</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <nav class="navbar navbar-fixed-top">
      <ul class="nav navbar-nav">
          <li><a href="/"> Home&nbsp;</a></li>
          <li><a href="/static_pages/about"> About&nbsp;</a></li>
          <li><a href="/locations"> Locations&nbsp;</a></li>
          <li><a href="/static_pages/contact"> Contact&nbsp;</a></li>
      </ul>
    </nav>
  </div> <!--end wrapper-->

<%= yield %>

</body>
</html>
